[user]
  name = kirkelifson
  email = kelifson@parodybit.net
[credential]
  helper = cache --timeout=3600
[merge]
  conflictstyle = diff3
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log --oneline --graph --decorate
[push]
  default = current
